{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 15, "knowledge_revision": 31, "git_revision": "", "hash": "58cba9483e611afb3cb483e268376273", "format-version": 4, "code-base-name": "finance_backend", "filename": "requirements.txt", "revision_history": [{"31": ""}]}